* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #323232;
  color: white;
}

.container {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  flex-basis: 30%;
  margin: 20px 20px;
}

